# GitHub CLI認証をこのディレクトリに閉じる
export GH_CONFIG_DIR="$(pwd)/.gh"

# GCP設定
export CLOUDSDK_ACTIVE_CONFIG_NAME="classroom-check-in"
export GCLOUD_PROJECT="classroom-checkin-279"
export GOOGLE_APPLICATION_CREDENTIALS="$(pwd)/.secrets/classroom-sync-key.json"

# Firebase設定
export FIREBASE_PROJECT="classroom-checkin-279"
